[submodule "backend"]
	path = backend
	url = https://github.com/sivakarthikxo/ExpenseTracker-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/sivakarthikxo/ExpenseTracker-frontend.git
